name: publish to dockerhub

on:
  push:
    branches-ignore:
      - '**'
    tags:
      - '*.*.*'

jobs:
  build:
    name: publish to dockerhub
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Prepare
        id: prepare
        run: |
            TAG=${GITHUB_REF#refs/tags/}
            echo ::set-output name=tag_name::${TAG}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: login to dockerhub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: build (and publish) main image
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: |
            fopina/portainer-capability-manager:${{ steps.prepare.outputs.tag_name }} \
            fopina/portainer-capability-manager:latest
          platforms: linux/amd64,linux/arm64,linux/arm/v7
